<!DOCTYPE html>
<html>
<body>

<h2>logged in</h2>


  <label >name:<%= Login.username %> pwd:<%= Login.password %></label>
  
  <form action="/logoutButton" method='GET'>
      <button type="logout"  id="logout" value="submit" name="logout">Logout</button>
  </form>
</body>
</html